<p id="notice"><%= notice %></p>

<h2>Courses</h2>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.number, course %></td>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td>
          <%= link_to course, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path, class: 'btn btn-default' %>
