<p id="notice"><%= notice %></p>

<h2><%= @course.title %> (<%= @course.number %>)</h2>

<p>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-default'  %>
<%= link_to 'Back', courses_path, class: 'btn btn-default'  %>
